.btn-container {
  @apply py-[10px] px-[18px] cursor-pointer bg-secondary hover:dark:bg-dark-secondary dark:bg-dark-secondary dark:hover:bg-secondary  border-none rounded-[5px] text-text hover:text-dark-text dark:text-dark-text dark:hover:text-text font-semibold uppercase text-[14px];
  width: max-content;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.container:hover {
  opacity: 0.9;
  transform: scale(1.03);
}
